#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.gra {
  display: flex;
  flex-direction: row;
  padding: 50px;
  border: 2px solid red;
}
.left, .right {
  flex: 1;
  border: 1px solid blue;
  padding: 20px;
  width: 900px;
  height: 800px;
}





